sudo: false
cache:
  directories:
  - $HOME/.gradle
language: groovy
jdk:
- oraclejdk7
env:
  global:
  - TERM=dumb
  - MALLOC_ARENA_MAX=1
  - GRADLE_OPTS="-Xmx768m -Xms256m -XX:MaxPermSize=256m -XX:+CMSClassUnloadingEnabled"
  - GIT_NAME="Graeme Rocher"
  - GIT_EMAIL="graeme.rocher@gmail.com"
script: ./travis-build.sh
install: true
